body{-webkit-tap-highlight-color: rgba(0,0,0,0);}
h3{text-align: center;color: red;}
.panel{text-align: center;}
.panel h5{
	text-align: left;
	color: #888;
	margin: 0;
}
.panel button{
	width: 90%;
	height: 40px;
	line-height: 40px;
	margin: 5px auto;
	border: none;
	border-radius: 5px;
	background: #e2e2e2;
}

.div1{
	padding: 20px 15px 15px;background-color: #fff;border-bottom: solid 0.5px #e4e4e4;
}
.rich_media_meta_list{
	margin-bottom:0;
}
.rich_media_meta_nickname{
	color:#607fa6;
}

.div2{
	padding: 12px 0;
	display: none;
}
.div img{
	width: 100%;
}

#hutui{
	position: relative;
}

#hutui p{
	color: red;font-weight: 900;margin-top: 15px;
}

#js_toobar{
	padding-top:10px;color: #8c8c8c;line-height: 32px;font-size: 17px;height: 32px;
}
#js_toobar a{
	color:#607fa6;float: left;margin-right: 10px;
}

#js_read_area{
	float: left;margin-right: 10px
}

#like{
	margin-right: 0;margin-left: 8px;float: left;-webkit-tap-highlight-color: rgba(0,0,0,0);outline: 0;min-width: 3.5em;
}
#like i {
	position: relative;top: 1px;margin-right: 3px;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA+CAYAAAA1dwvuAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACd0lEQVRYhe2XMWhUMRjHfycdpDg4iJN26CQih4NUlFIc3iTasaAO+iZBnorIId2CDg6PLqWDXSy0p28TJ6ejILgoKiLFSeRcnASLnDf2HPKll8b3ah5NQPB+cHzJl0v+73J5Sf6NwWCAD6kqxoEV4BywCTwA2j59V9QlxrxUNJeBOSkfBtaAHvDcp/O+GkJHJd4H7kr5nm/nOkJHJH4FHkv5WAyhUxLfAgelvBlUKFXFBNCU6oYl+j6oEHohADwFtoDTUn8dTChVxX7gjlSfSJyS+CaYEDCPXs4d4IXkzDR+8BWqfI9SVUyil/ENST20ml8BF4Afu4z9HT3V80B/TAY9CxTABNAHxp1Oj4B1q34dWAamGa5Al0PALfSs3TS/aE1EcERWgQXgozPIN+Ai6O2ljFQVM8BLZJqN0KTEhgj9kvrViqf1wYz5BcoXQ38Pg9uckfiuSigU0xLXowmlqpgCjgNd4FM0IeCKxGcmEUtoRqLZScILpaqYA06iN9/tTTfGLzKvxLKdDCqUquIEcB59xK9GE2J4xLeBn3ZD1abaq/sQqSpmgWvo82rBbTdCPeAA4N69/noXS1XhphaBz27SPPVtapz/FXSBFsNDcgcN3wvkiBEjRoSndAtqLXXKvuvtYfMs+SP3T3tYm6ge1iaqh7UJ62HRTqNZko/mYV3CeVjA9rAuUTxsGd4edrcX1vWwddn2sHmWaA/bWuq4HnYLff3aC7U8bAiaMPyPJp3GhnxCUOlhQxPdwxrieViLbp4lUT2sIbqHNcTzsBYbeZZE9bCGeB7WIrqHNbTzLNnhYWMIlXpYI9Rz8gM8/GsFi3mW/Ace9jf8QZwIX5o4uQAAAABJRU5ErkJggg==) no-repeat;
	width: 13px;height: 13px;display: inline-block;-webkit-background-size: 100% auto;background-size: 100% auto;
}

#pauseplay{
	display: none; opacity: 0; position: fixed; left: 0px; right: 0px; top: 65px; bottom: 0px; background-color: rgb(80, 80, 80); z-index: 1000000; height: 190px;
}

#lly_dialog{
	display: none;
}

#fenxiang{
	display:block;width:100%;position:fixed;z-index:999;top:0;left:0;display:none
}
